build/*
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/CFOV.sln
build/CFOV.vcxproj
build/CFOV.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.8.1/CMakeCCompiler.cmake
build/CMakeFiles/3.8.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.8.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.8.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.8.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.8.1/CMakeSystem.cmake
build/CMakeFiles/3.8.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.8.1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.8.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.8.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.8.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.8.1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.8.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.8.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3a2d8bca85110e87664072872e562b1f/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
